<span class="created-by">Created by
    <b>
        <a>Murtaza Liyakat Ali Munshi (+91-7974110721)</a>
        <a>Mohammad Liyakat Ali Munshi</a>
        <a>Murtaza Khuzema Kalabhai</a>
    </b>
</span>
<div class="socials">
    <!-- <a href="#" target="_blank" class="ion ion-social-github"></a>
    <a href="#" target="_blank" class="ion ion-social-facebook"></a>
    <a href="#" target="_blank" class="ion ion-social-twitter"></a>
    <a href="#" target="_blank" class="ion ion-social-linkedin"></a> -->
</div>