

  <nb-card>
    <nb-card-body class='text-center font-weight-bold'>
      16 RAAT DAREES VOLUNTARY CONTRIBUTION RECIEPT <br>
      Shabab ul Eid-iz Zahabi, Kalimi Mohalla ,Ratlam
    </nb-card-body>
  </nb-card>


  <nb-card class>
    <nb-card-body class="text-right">
      Date:
      <input [nbDatepicker]="datepicker" [(ngModel)]='user.Date'>
      <nb-datepicker #datepicker></nb-datepicker>
    </nb-card-body>


    <nb-card-body>
      Payee:<input nbInput [(ngModel)]='user.Name' placeholder="Payee Name">
    </nb-card-body>



    <nb-card-body>
      SEZ Code: <input nbInput [(ngModel)]='user.SEZ' placeholder="SEZ Code">
    </nb-card-body>


    <nb-card-body>
      Amount: <input nbInput [(ngModel)]='user.Amount' placeholder="Amount">
    </nb-card-body>

    <nb-card-body class='text-center'>
      <button nbButton size="medium" status="success" class='col-md-3 mr-3' (click)="generatePdf()">Submit</button>
      <button nbButton size="medium" status="warning" class='col-md-3' (click)="reset()">reset</button>
    </nb-card-body>

  </nb-card>

