<button nbButton size="tiny" (click)="show()">
  <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>
</button>

<div *ngIf="IsAdding">
  <div class="main_div">
    <span class="label-with-link">
      <label class="label" for="input-password">Date :</label>
    </span>
    <input nbInput [nbDatepicker]="rangepicker" placeholder="Date" [(ngModel)]="masterMenu.Date" name="Date">
    <nb-datepicker #rangepicker></nb-datepicker>
    <span class="label-with-link">
      <label class="label" for="input-password">No. of People :</label>
    </span>
    <input nbInput placeholder="No. of People" [(ngModel)]="masterMenu.PeopleCount" name="PeopleCount" />
    <span class="label-with-link">
      <label class="label" for="input-password">No. of Thaals :</label>
    </span>
    <input nbInput placeholder="No. of Thaals" [(ngModel)]="masterMenu.ThaalCount" name="ThaalCount" />
  </div>

  <nb-card>
    <nb-card-header>
      16 Raat Darees Menu
    </nb-card-header>
    <nb-card-body>
      <ng2-smart-table [settings]="settingsAdd" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
        (createConfirm)="createConfirm($event)" (editConfirm)="edit($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  <button nbButton size="small" (click)="save()">Save</button>
  <button nbButton size="small" class="cancel_button" (click)="cancel()">Cancel</button>
</div>

<nb-card *ngFor="let item of menuData">
  <nb-card-body>
    <div>
      <span class="label-with-link">
        <label class="label" for="input-password">Date : {{item.Date | date:'dd/MM/yyyy'}}</label>
      </span>
      <span class="label-with-link">
        <label class="label" for="input-password">No. of People : {{item.PeopleCount}}</label>
      </span>
      <span class="label-with-link">
        <label class="label" for="input-password">No. of Thaals : {{item.ThaalCount}}</label>
      </span>
      <button nbButton size="small" (click)="editData(item)">Edit</button>
      <button nbButton size="small" class="cancel_button" (click)="deleteData(item)">Delete</button>
    </div>
    <sez-smart-table [settings]="settingsView" [data]="item.menuData"></sez-smart-table>
  </nb-card-body>
</nb-card>
