<button nbButton size="tiny" (click)="show()">
  <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>
</button>

<div *ngIf="boo">
  <div class="main_div">
    <span class="label-with-link">
      <label class="label" for="input-password">Date :</label>
    </span>
    <input nbInput [nbDatepicker]="rangepicker" placeholder="Date">
    <nb-datepicker #rangepicker></nb-datepicker>
    <span class="label-with-link">
      <label class="label" for="input-password">No. of People :</label>
    </span>
    <input nbInput placeholder="No. of People" />
    <span class="label-with-link">
      <label class="label" for="input-password">No. of Thaals :</label>
    </span>
    <input nbInput placeholder="No. of Thaals" />
  </div>

  <nb-card>
    <nb-card-header>
      16 Raat Darees Menu
    </nb-card-header>
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
        (editConfirm)="edit($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  <button nbButton size="small">Save</button>
  <button nbButton size="small" class="cancel_button">Cancel</button>
  <nb-card>
    <nb-card-body>
      <ng2-smart-table [settings]="settings2" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
        (editConfirm)="edit($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</div>
